.info {
  min-height: 480px;
  width: 640px;
  margin: 0 auto;
}

.row {
  width: 300px;
  min-height: 100%;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  overflow: visible; 
}
.btn a {
  padding: 30px 10px;
  display: block;
  height: 100px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.btn a img {
  height: 64px;
  width: 64px;
}

.alert {
  width: 300px;
  margin: 0 auto;
  padding: 30px;
  border: 2px double;
  text-align: center;
}

